.partners {
	text-align:center;
	background-image:url(img/bg-brand-partners.png);
	height:100px;
	box-sizing:border-box;
}

.partners img {
	vertical-align:middle;
	margin:0 47px;
	height:100px;
}

@media screen and (max-width: 979px) {
	.partners {
		height:100px;
		padding:0 0 10px;
	}
	
	.partners img {
		margin:0 2px 20px;
	}
}

@media screen and (max-width: 550px) {
	.partners {
		padding:0 0 26px;
		height:50px;
	}
	.partners img {
		margin:0 auto 20px;
		display:block;
		height:50px;
	}
}