.stay-connected {
	text-align:center;
	background:#FFF;
	padding:60px 0;
}

.stay-connected .header-b-2 {
	font-size:34px;
	margin:0 25px;
	position:relative;
}

.stay-connected .header-b-2 .text_to_html:before {
	font-size:23px;
	top:-20px;
	width:5px;
	height:5px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	background:#9B9B9B;
	content:"";
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

.social-links {
	padding:25px 0 0;
}

.stay-connected a {
	display:inline-block;
	margin:0 4px 10px;
}

.stay-connected i {
	color:#FFF;
	background:#e84c3d;
	border-radius:50%;
	display:inline-block;
	width:45px;
	height:45px;
	font-size:25px;
	padding:10px 0 0;
	box-sizing:border-box;
	overflow:hidden;
}

@media screen and (max-width: 550px) {
	.stay-connected .header-b-2 {
		font-size:25px;
		margin:0 25px;
	}
}